In [31]:
import pandas as pd
import os

In [33]:
#download link for S0 (old info): https://docs.google.com/spreadsheets/d/1cwxztPg9sLq0ASjJ5bntivUk6dSKHsVyR1bE6bXvMkY/edit#gid=1529271254

s0 = pd.read_csv('Table S0 and S1_ Experimental datasets for computing cell type populations  - Table S0_ Experimental datasets for computing cell type populations .csv')
s0

,dataset_id,source,alt_source,is_azimuth_reference,excluded_from_atlas_construction,reason_for_exclusion,excluded_from_training,has_h5ad_file,paper_id,doi,...,ccf_api_endpoint,tissue_block_volume (if registered) [millimeters^3],number_of_unique_cell_types,unique_CT_for_tissue_block,are_ct_harmonzed,non_hubmap_donor_id,HuBMAP_publication_status,CxG_dataset_id_donor_id_organ,unique_dataset_id,Unnamed: 38
0,CODEX_Florida_20-008-lymphnode10_righthalf,HuBMAP,NaN,NaN,True,No tissue block spatial registration.,NaN,True,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,CODEX_Florida_20-008-lymphnode10_righthalf,NaN
1,celltype_l2,Azimuth,NaN,NaN,True,Azimuth does not provide cell type data by tis...,NaN,NaN,https://insight.jci.org/articles/view/124928|h...,NaN,...,https://cns-iu.github.io/hra-cell-type-populat...,NaN,40.0,NaN,NaN,NaN,NaN,NaN,celltype_l2,NaN
2,celltype_l1,Azimuth,NaN,NaN,True,Azimuth does not provide cell type data by tis...,NaN,NaN,https://insight.jci.org/articles/view/124928|h...,NaN,...,https://cns-iu.github.io/hra-cell-type-populat...,NaN,9.0,NaN,NaN,NaN,NaN,NaN,celltype_l1,NaN
3,v1_annotation_l1,Azimuth,NaN,NaN,True,Azimuth does not provide cell type data by tis...,NaN,NaN,NaN,NaN,...,NaN,NaN,39.0,NaN,NaN,NaN,NaN,NaN,v1_annotation_l1,NaN
4,v1_annotation_l2,Azimuth,NaN,NaN,True,Azimuth does not provide cell type data by tis...,NaN,NaN,NaN,NaN,...,NaN,NaN,57.0,NaN,NaN,NaN,NaN,NaN,v1_annotation_l2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4231,NaN,CxG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4232,NaN,SenNet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4233,NaN,GTEx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4234,NaN,SPARC-UCLA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4235,NaN,KPMP-IU/OSU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
s0_cxg = s0.loc[s0['source'] == 'CxG',['unique_dataset_id','non_hubmap_donor_id','organ','number_of_cells_total']].dropna()
s0_cxg

,unique_dataset_id,non_hubmap_donor_id,organ,number_of_cells_total
772,da72e8fd-808c-498b-9d43-898986930ee0_T110POS_S...,T110POS,Small_Intestine,1143.0
773,da72e8fd-808c-498b-9d43-898986930ee0_T161_Smal...,T161,Small_Intestine,957.0
774,da72e8fd-808c-498b-9d43-898986930ee0_T036_Smal...,T036,Small_Intestine,2582.0
775,da72e8fd-808c-498b-9d43-898986930ee0_T182_Smal...,T182,Small_Intestine,1254.0
776,da72e8fd-808c-498b-9d43-898986930ee0_T024_Smal...,T024,Small_Intestine,1065.0
...,...,...,...,...
4220,f6a333c8-6442-4561-85e6-e6333c30e658_F16_Kidney,F16,Kidney,1542.0
4221,0217420c-b31d-4f92-8edf-c6d113573963_Wilms1_Ki...,Wilms1,Kidney,1948.0
4222,f6a333c8-6442-4561-85e6-e6333c30e658_F38_Kidney,F38,Kidney,5999.0
4223,0217420c-b31d-4f92-8edf-c6d113573963_Wilms3_Va...,Wilms3,Vasculature,46.0
4224,0217420c-b31d-4f92-8edf-c6d113573963_Wilms2_Va...,Wilms2,Vasculature,2.0

In [35]:
s0_cxg['donor_organ'] = s0_cxg.apply(lambda row: "_".join([row['non_hubmap_donor_id'],row['organ']]), axis=1)
s0_cxg.drop(['non_hubmap_donor_id','organ'], axis=1, inplace=True)
s0_cxg

,unique_dataset_id,number_of_cells_total,donor_organ
772,da72e8fd-808c-498b-9d43-898986930ee0_T110POS_S...,1143.0,T110POS_Small_Intestine
773,da72e8fd-808c-498b-9d43-898986930ee0_T161_Smal...,957.0,T161_Small_Intestine
774,da72e8fd-808c-498b-9d43-898986930ee0_T036_Smal...,2582.0,T036_Small_Intestine
775,da72e8fd-808c-498b-9d43-898986930ee0_T182_Smal...,1254.0,T182_Small_Intestine
776,da72e8fd-808c-498b-9d43-898986930ee0_T024_Smal...,1065.0,T024_Small_Intestine
...,...,...,...
4220,f6a333c8-6442-4561-85e6-e6333c30e658_F16_Kidney,1542.0,F16_Kidney
4221,0217420c-b31d-4f92-8edf-c6d113573963_Wilms1_Ki...,1948.0,Wilms1_Kidney
4222,f6a333c8-6442-4561-85e6-e6333c30e658_F38_Kidney,5999.0,F38_Kidney
4223,0217420c-b31d-4f92-8edf-c6d113573963_Wilms3_Va...,46.0,Wilms3_Vasculature
4224,0217420c-b31d-4f92-8edf-c6d113573963_Wilms2_Va...,2.0,Wilms2_Vasculature

In [36]:
s0_cxg['dataset_id'] = s0_cxg.apply(lambda row: row['unique_dataset_id'].split('_')[0], axis=1)

In [37]:
#id_name_mapper gets dataset names for dataset IDs from CZI

id_name_mapper = pd.read_csv('id_name_mapper.csv', index_col=[0])
id_name_mapper = id_name_mapper.drop_duplicates()

In [38]:
s0_cxg = s0_cxg.merge(id_name_mapper,how='left').drop('dataset_id',axis=1)
s0_cxg

,unique_dataset_id,number_of_cells_total,donor_organ,dataset_name
0,da72e8fd-808c-498b-9d43-898986930ee0_T110POS_S...,1143.0,T110POS_Small_Intestine,Paediatric Human Gut (4-14y)
1,da72e8fd-808c-498b-9d43-898986930ee0_T161_Smal...,957.0,T161_Small_Intestine,Paediatric Human Gut (4-14y)
2,da72e8fd-808c-498b-9d43-898986930ee0_T036_Smal...,2582.0,T036_Small_Intestine,Paediatric Human Gut (4-14y)
3,da72e8fd-808c-498b-9d43-898986930ee0_T182_Smal...,1254.0,T182_Small_Intestine,Paediatric Human Gut (4-14y)
4,da72e8fd-808c-498b-9d43-898986930ee0_T024_Smal...,1065.0,T024_Small_Intestine,Paediatric Human Gut (4-14y)
...,...,...,...,...
3271,f6a333c8-6442-4561-85e6-e6333c30e658_F16_Kidney,1542.0,F16_Kidney,Fetal kidney dataset: full
3272,0217420c-b31d-4f92-8edf-c6d113573963_Wilms1_Ki...,1948.0,Wilms1_Kidney,Mature kidney dataset: full
3273,f6a333c8-6442-4561-85e6-e6333c30e658_F38_Kidney,5999.0,F38_Kidney,Fetal kidney dataset: full
3274,0217420c-b31d-4f92-8edf-c6d113573963_Wilms3_Va...,46.0,Wilms3_Vasculature,Mature kidney dataset: full
3275,0217420c-b31d-4f92-8edf-c6d113573963_Wilms2_Va...,2.0,Wilms2_Vasculature,Mature kidney dataset: full

In [39]:
#creates a S0 like table from files currently in repo (new info)

info = []
for folder in os.listdir('csv'):
    if 'CxG' in folder:
        for csvfile in os.listdir(os.path.join('csv',folder)):
            data = pd.read_csv(os.path.join('csv',folder,csvfile))
            info.append([csvfile[:-4], data['count'].sum(), "_".join(csvfile.split("_")[1:])[:-4], data['dataset_name'].unique()[0]])

cxg_csvinfo = pd.DataFrame(info,columns=s0_cxg.columns)
cxg_csvinfo

,unique_dataset_id,number_of_cells_total,donor_organ,dataset_name
0,09b6355c-f181-4675-88ac-8b08bb804d17_HT-184_Sm...,1387,HT-184_Small_Intestine,Developing Human Atlas
1,13c0b826-87e9-4c86-8412-1bf76dc19fb2_TSP2_Smal...,25,TSP2_Small_Intestine,Tabula Sapiens - Stromal
2,107cfb8a-8faa-46a6-ad31-1ba96fe15fc6_Patient07...,102,Patient07_Small_Intestine,UMAP of Plasma and B-Cells cells
3,153ddfb5-c677-47fd-b584-7f9157fca6b3_Donor 1_S...,1605,Donor 1_Small_Intestine,A proximal-to-distal survey of healthy adult h...
4,09b6355c-f181-4675-88ac-8b08bb804d17_HT-172_Sm...,9163,HT-172_Small_Intestine,Developing Human Atlas
...,...,...,...,...
4783,7ae94573-bd9b-40e2-b1ca-d0db42d20c2b_TSP14_Par...,6975,TSP14_Parotid_Gland,Tabula Sapiens - Epithelial
4784,13c0b826-87e9-4c86-8412-1bf76dc19fb2_TSP14_Par...,845,TSP14_Parotid_Gland,Tabula Sapiens - Stromal
4785,7ae94573-bd9b-40e2-b1ca-d0db42d20c2b_TSP7_Paro...,1957,TSP7_Parotid_Gland,Tabula Sapiens - Epithelial
4786,bd13c169-af97-4d8f-ba45-7588808c2e48_TSP7_Paro...,9437,TSP7_Parotid_Gland,Tabula Sapiens - Salivary_Gland
4787,7995d395-6682-4f73-9b9d-3dad498d22b6_TSP14_Par...,3628,TSP14_Parotid_Gland,Tabula Sapiens - Immune

In [40]:
s0_cxg['number_of_cells_total'] = s0_cxg['number_of_cells_total'].astype(int)

In [52]:
lookup = s0_cxg.merge(cxg_csvinfo,left_on=['donor_organ','number_of_cells_total','dataset_name'], right_on=['donor_organ','number_of_cells_total','dataset_name'], how='left')
lookup

,unique_dataset_id_x,number_of_cells_total,donor_organ,dataset_name,unique_dataset_id_y
0,da72e8fd-808c-498b-9d43-898986930ee0_T110POS_S...,1143,T110POS_Small_Intestine,Paediatric Human Gut (4-14y),NaN
1,da72e8fd-808c-498b-9d43-898986930ee0_T161_Smal...,957,T161_Small_Intestine,Paediatric Human Gut (4-14y),NaN
2,da72e8fd-808c-498b-9d43-898986930ee0_T036_Smal...,2582,T036_Small_Intestine,Paediatric Human Gut (4-14y),NaN
3,da72e8fd-808c-498b-9d43-898986930ee0_T182_Smal...,1254,T182_Small_Intestine,Paediatric Human Gut (4-14y),NaN
4,da72e8fd-808c-498b-9d43-898986930ee0_T024_Smal...,1065,T024_Small_Intestine,Paediatric Human Gut (4-14y),NaN
...,...,...,...,...,...
3271,f6a333c8-6442-4561-85e6-e6333c30e658_F16_Kidney,1542,F16_Kidney,Fetal kidney dataset: full,16eccda8-805c-4e06-b7b6-0cbf0dbdf28b_F16_Kidney
3272,0217420c-b31d-4f92-8edf-c6d113573963_Wilms1_Ki...,1948,Wilms1_Kidney,Mature kidney dataset: full,cd9f2c40-6470-4ef6-98b0-5909acf66e64_Wilms1_Ki...
3273,f6a333c8-6442-4561-85e6-e6333c30e658_F38_Kidney,5999,F38_Kidney,Fetal kidney dataset: full,NaN
3274,0217420c-b31d-4f92-8edf-c6d113573963_Wilms3_Va...,46,Wilms3_Vasculature,Mature kidney dataset: full,NaN
3275,0217420c-b31d-4f92-8edf-c6d113573963_Wilms2_Va...,2,Wilms2_Vasculature,Mature kidney dataset: full,NaN

In [53]:
#percent of old id to new id matched

(1 - lookup['unique_dataset_id_y'].isna().sum()/lookup.shape[0]) * 100

80.18925518925519

In [348]:
lookup.to_csv('lookup.csv')